<br>
<section id="{{name.toLowerCase()}}">
  <div class="row"><h1>{{name}}<small>(<a href="{{src}}">src</a>)</small></h1></div>

  <hr>

  <div class="row"><div class="col-md-12">{{titleDoc}}</div></div>

  <div class="row">
    <h2>Example</h2>
    <div class="card card-block panel panel-default panel-body">
      <app-table-demo></app-table-demo>
    </div>
  </div>

  <br>

  <div class="row">
    <h2>API</h2>
    <div class="card card-block panel panel-default panel-body">{{doc}}</div>
  </div>
</section>
